# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*.local

# Logs
logs/
*.log
*.log.*

# Database
*.sqlite
*.db
*.mysql
*.sql

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Build artifacts
dist/
build/
coverage/
